
    
.head{
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    height: 5rem;
    border-bottom: 1px #f0f0f0 solid;
    z-index: 10;

}




section1{
    position: relative;
    top: 5rem;
}


.logo{
    position: relative;
    padding: 1rem;
    height: 7vh;
    left: 2vw;

}

.top{
    position: relative;
    top: -4.5rem;
    list-style: none;
    right: 23rem;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    overflow-x: hidden;

    
}
.top li{
   padding: 0.89vw; 
   color: rgb(8, 8, 51);
   
}

.topleft{
    position: absolute;
    list-style: none;
    left: 74rem;
    top: 1.1rem;
    font-family: Poppins, sans-serif;
    cursor: pointer;
    padding: 0;

}

.topleft li{
    padding: 0.49vw;
}

.left img{
    position: relative;
    top: -15vh;
    left: 72vw;
    height: 4.5vh;
    cursor: pointer;

}



.btn{
    border-radius: 2rem;
    border-color: white;
    color:white;
    background-color:#4262ff;
    height: 2.99vw;
    width: 8vw;
    
}
.btn1{
    border-radius: 2rem;
    border-color: white;
    color: white;
    background-color: #4262ff;
    height: 2.99vw;
    width: 35vw;
    font-family: Poppins, sans-serif;
    cursor: pointer;
    position: relative;
    right: 61.6rem;
    top: 14.5rem;

}

.btn2{
    border-radius: 2rem;
    border-color: white;
    color: white;
    background-color: #4262ff;
    height: 2.99vw;
    width: 10vw;
    font-family: Poppins, sans-serif;
    cursor: pointer;
    position: relative;
    right: 1rem;
    bottom: 10rem;

}

.left1{
    position: relative;
    left: 15rem;
    top: -3rem;
    
}
#tag{
    font-family: 'IBM Plex Serif', serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #050038;

}

.left1 p{
    font-family: 'Poppins', sans-serif;
    color: grey;
   font-weight: 500;
   font-stretch: expanded;
}


.right1 img{
    position: relative;
    left: 25rem;
    height: 31vw;
    top: -3rem;
}

#Email{
    position: relative;
    right: 43rem;
    height: 3vw;
    width: 35vw;
    top: 11rem;
    border-radius: 2rem;
    overflow-x: hidden;

}

.img2{
    width: 65vw;
    padding: 3.5rem;
    height: 19vh;
    position: relative;
    left: 14rem;


}

.ImgBtn{
    position: relative;
    left: 17rem;
    height: 32rem;
    width: 61rem;

}

.subhead2{
    color: rgb(8, 8, 51);
    height: 4rem;
    position: absolute;
    left: 19rem;
    top: 98rem;
    font-family: 'IBM Plex Serif', serif;
    font-weight: bolder;
    font-size: 3rem;

}

.changeButtons{
    position: absolute;
    list-style: none;
    top: 104rem;
    left: 18rem;
    
}

.changeButtons li{
    padding: 0.4rem;
}

.btn3{
    border-radius: 2rem;
    background-color: white;
    width: 8rem;
    cursor: pointer;
    height: 3rem;
    font-family: 'Poppins', sans-serif;
    
}
.btn3a{
    border-radius: 2rem;
    background-color: white;
    width: 11rem;
    cursor: pointer;
    height: 3rem;
    font-family: 'Poppins', sans-serif;
    
}
.btn3b{
    border-radius: 2rem;
    background-color: white;
    width: 10rem;
    cursor: pointer;
    height: 3rem;
    font-family: 'Poppins', sans-serif;
    
}
.btn3c{
    border-radius: 2rem;
    background-color: white;
    width: 9rem;
    cursor: pointer;
    height: 3rem;
    font-family: 'Poppins', sans-serif;
    
}

.btn3:hover{
    background-color:#f1f3fd;
}
.btn3a:hover{
    background-color:#f1f3fd;
}
.btn3b:hover{
    background-color:#f1f3fd;
}
.btn3c:hover{
    background-color:#f1f3fd;
}

.left2{
    position: absolute;
    top: 190rem;
    left: 20rem;
}

#leftContent1{
    text-align: left;
}

.leftHead{
    position: relative;
    top: -78rem;
    font-family: 'Ubuntu', sans-serif;
    left: -7rem;
}

.leftContent{
    position: relative;
    top: -76rem;
    right: 7rem;
    font-family: 'Poppins', sans-serif;

}

.img3{
    left: 20rem;
    position: absolute;
    bottom: 55rem;
    height: 30rem;
    width: 43rem;

}

